* {
  margin: 0;
  padding: 0;
}

.main {
  height: 600px;
  width: 1440px;
  background-color: hsl(212, 45%, 89%);
}
.main .sub {
  height: 500px;
  width: 375px;
  background-color: hsl(0, 0%, 100%);
  margin: 10px auto;
  border-radius: 20px;
  object-fit: contain;
  object-position: 50% 50%;
}
.main .sub .qr-img {
  height: 320px;
  width: 320px;
  margin: 20px auto;
  
}
.main .sub .qr-img img {
  height: 100%;
  width: 100%;
  margin: 20px auto;
  object-fit: cover;
  border-radius: 20px;
  object-position: center;
}
.main .sub .des1 {
  height: 80px;
  width: 85%;
  margin: auto;
  font-size: 25px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  text-align: center;
  /* background-color: orange; */
}
.main .sub .des2 {
  height: 100px;
  width: 85%;
  margin: auto;
  font-size: 17px;
  color: hsl(220, 15%, 55%);
  text-align: center;
  /* background-color: aqua;; */
}




